<a href="https://colab.research.google.com/github/TrueGRITT38/Soft-Sensor-Data/blob/main/Soft_Sensor_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
liq = pd.read_csv('https://raw.githubusercontent.com/TrueGRITT38/Soft-Sensor-Data/main/Liquid_Data.csv')
liq = liq.rename(columns = {'Temperature (C)':'rtemp'})
liq.head()

   rtemp  Pressure (psia)  Pressure\n(psig)  Density (kg/m3)  Vol (Vf) (m3/kg)
0     90           10.179           -4.5169           965.30          0.001036
1     91           10.572           -4.1239           964.62          0.001037
2     92           10.977           -3.7189           963.94          0.001037
3     93           11.395           -3.3009           963.26          0.001038
4     94           11.827           -2.8689           962.57          0.001039

In [ ]:
vap = pd.read_csv('https://raw.githubusercontent.com/TrueGRITT38/Soft-Sensor-Data/main/Vapor_Data.csv')
vap = vap.rename(columns = {'Temperature (C)':'rtemp'})
vap.head()

   rtemp  Pressure (psia)  Pressure (psig)  Density (kg/m3)  Vol (Vg) (m3/kg)
0     90           10.179          -4.5169          0.42390            2.3591
1     91           10.572          -4.1239          0.43918            2.2770
2     92           10.977          -3.7189          0.45491            2.1982
3     93           11.395          -3.3009          0.47111            2.1227
4     94           11.827          -2.8689          0.48777            2.0502

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/TrueGRITT38/Soft-Sensor-Data/main/HEX_data.csv')
data['rtemp'] = data['TE-800-07/AI1/OUT.CV °C'].round(0)
data.head()

In [ ]:
data = data.merge(liq[['rtemp','Vol (Vf) (m3/kg)']],how='left',on='rtemp').fillna(0)
data = data.merge(vap[['rtemp','Vol (Vg) (m3/kg)']],how='left',on='rtemp').fillna(0)
data['Spec V'] = 1/data['FIT-800-00/DENSITY/OUT.CV kg/m3']

,Unnamed: 0,Timestamp,FIT-800-00/BLOCK1/OUT.CV lb/min,FIT-800-00/DENSITY/OUT.CV kg/m3,FIT-800-00/TEMP/OUT.CV °C,FIT-800-00/VOL_FLOW/OUT.CV L/min,FIT-800-01/BLOCK1/OUT.CV gal/min,FIT-800-02/BLOCK1/OUT.CV gal/min,FIT-800-03/BLOCK1/OUT.CV gal/min,FIT-800-04/BLOCK1/OUT.CV gal/min,...,TT-800-00F/AI1/OUT.CV °C,TT-800-00P/AI1/OUT.CV °C,TT-800-01P/AI1/OUT.CV °C,TT-800-02P/AI1/OUT.CV °C,TT-800-03P/AI1/OUT.CV °C,TT-800-04P/AI1/OUT.CV °C,rtemp,Vol (Vf) (m3/kg),Vol (Vg) (m3/kg),Spec V
0,0,2023-04-25 14:00:00-04:00,-0.006675,45.825588,154.635651,0.161967,0.000382,0.001336,4.990749,-0.000143,...,154.738998,22.844513,21.563629,21.707245,22.262848,22.680267,22.0,0.0,0.0,0.021822
1,1,2023-04-25 14:00:10-04:00,0.012398,45.490082,154.598907,0.008506,0.000382,0.001336,6.783445,-0.000143,...,154.635666,22.871979,21.537292,21.707245,22.293762,22.680267,22.0,0.0,0.0,0.021983
2,2,2023-04-25 14:00:20-04:00,0.012398,44.943195,154.548431,0.189077,0.000382,0.001336,6.823978,-0.000143,...,154.601196,22.844513,21.537292,21.707245,22.293762,22.680267,22.0,0.0,0.0,0.022250
3,3,2023-04-25 14:00:30-04:00,0.037433,44.396889,154.534638,0.559981,0.000382,0.001336,6.935082,-0.000143,...,154.555328,22.844513,21.537292,21.707245,22.293762,22.708313,22.0,0.0,0.0,0.022524
4,4,2023-04-25 14:00:40-04:00,0.023127,44.104752,154.481094,0.349779,0.000382,0.001336,6.935082,-0.000143,...,154.543838,22.872253,21.564209,21.707245,22.262848,22.680573,22.0,0.0,0.0,0.022673

In [ ]:
data['Quality'] = (data['Spec V']-data['Vol (Vf) (m3/kg)'])/(data['Vol (Vg) (m3/kg)']-data['Vol (Vf) (m3/kg)'])
data.head()

,Unnamed: 0,Timestamp,FIT-800-00/BLOCK1/OUT.CV lb/min,FIT-800-00/DENSITY/OUT.CV kg/m3,FIT-800-00/TEMP/OUT.CV °C,FIT-800-00/VOL_FLOW/OUT.CV L/min,FIT-800-01/BLOCK1/OUT.CV gal/min,FIT-800-02/BLOCK1/OUT.CV gal/min,FIT-800-03/BLOCK1/OUT.CV gal/min,FIT-800-04/BLOCK1/OUT.CV gal/min,...,TT-800-00P/AI1/OUT.CV °C,TT-800-01P/AI1/OUT.CV °C,TT-800-02P/AI1/OUT.CV °C,TT-800-03P/AI1/OUT.CV °C,TT-800-04P/AI1/OUT.CV °C,rtemp,Vol (Vf) (m3/kg),Vol (Vg) (m3/kg),Spec V,Quality
0,0,2023-04-25 14:00:00-04:00,-0.006675,45.825588,154.635651,0.161967,0.000382,0.001336,4.990749,-0.000143,...,22.844513,21.563629,21.707245,22.262848,22.680267,22.0,0.0,0.0,0.021822,inf
1,1,2023-04-25 14:00:10-04:00,0.012398,45.490082,154.598907,0.008506,0.000382,0.001336,6.783445,-0.000143,...,22.871979,21.537292,21.707245,22.293762,22.680267,22.0,0.0,0.0,0.021983,inf
2,2,2023-04-25 14:00:20-04:00,0.012398,44.943195,154.548431,0.189077,0.000382,0.001336,6.823978,-0.000143,...,22.844513,21.537292,21.707245,22.293762,22.680267,22.0,0.0,0.0,0.022250,inf
3,3,2023-04-25 14:00:30-04:00,0.037433,44.396889,154.534638,0.559981,0.000382,0.001336,6.935082,-0.000143,...,22.844513,21.537292,21.707245,22.293762,22.708313,22.0,0.0,0.0,0.022524,inf
4,4,2023-04-25 14:00:40-04:00,0.023127,44.104752,154.481094,0.349779,0.000382,0.001336,6.935082,-0.000143,...,22.872253,21.564209,21.707245,22.262848,22.680573,22.0,0.0,0.0,0.022673,inf

In [ ]:
data.query('`Unnamed: 0` == 100')

,Unnamed: 0,Timestamp,FIT-800-00/BLOCK1/OUT.CV lb/min,FIT-800-00/DENSITY/OUT.CV kg/m3,FIT-800-00/TEMP/OUT.CV °C,FIT-800-00/VOL_FLOW/OUT.CV L/min,FIT-800-01/BLOCK1/OUT.CV gal/min,FIT-800-02/BLOCK1/OUT.CV gal/min,FIT-800-03/BLOCK1/OUT.CV gal/min,FIT-800-04/BLOCK1/OUT.CV gal/min,...,TT-800-00P/AI1/OUT.CV °C,TT-800-01P/AI1/OUT.CV °C,TT-800-02P/AI1/OUT.CV °C,TT-800-03P/AI1/OUT.CV °C,TT-800-04P/AI1/OUT.CV °C,rtemp,Vol (Vf) (m3/kg),Vol (Vg) (m3/kg),Spec V,Quality
100,100,2023-04-25 14:16:40-04:00,1.602675,22.636808,148.497833,31.573799,0.000382,17.047569,6.92626,-0.000143,...,22.905151,21.654327,21.739868,22.355255,22.764679,124.0,0.001064,0.79261,0.044176,0.054465

How can we change the query spot "90" and make it a column instead (using rtemp?)

In [ ]:
 #liq.query('`Temperature (C)` == 90')['Vol (Vf) (m3/kg)']

In [ ]:
#liq = liq.drop(columns = ['Pressure\n(psig)','Pressure (psia)','Density (kg/m3)'])
#liq = liq.set_index('Temperature (C)')
#liq.head()

In [ ]:
#liq1 = liq.to_dict()

In [ ]:
#dictl = liq1['Vol (Vf) (m3/kg)']

In [ ]:
#dtemp = data['rtemp'].to_numpy()
#print(dtemp)

In [ ]:
#data['rtemp']

In [ ]:
#for t in data['rtemp']:
#  dtemp[t]

In [ ]:
#np.array(90,91,92)

In [ ]:
#dictl[22]